.formulario__conteudo__campos {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}
input, textarea, button {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 14px;
    width: 560px;
    border-radius: 10px;
    border: 1px solid #cacaca;
}

.formulario__conteudo__campos input:focus, .formulario__conteudo__campos textarea:focus {
    background: #f1f1f1;
}
.formulario__botoes {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: 1.5rem;
}

.formulario__botoes__cancelar {
    border-color: var(--cor-terciaria);
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.formulario__botoes__cancelar:hover {
    background: #dbdbdb;
 }

.formulario__botoes__enviar {
    border: 0;
    background-color: var(--cor-terciaria);
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.formulario__botoes__enviar:hover {
    background: #dc6c1c;
 }
