.cabecalho {
    padding: 3% 0 0 15%;
    position: relative;
}

.cabecalho .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
}

.menu__list {
    padding: 5% 0;
    width: 100%;
    display: flex;
    gap: 80px;
    list-style-type: none;  
}

.menu__item {
    gap: 7%;
    align-items: center;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);  
}

.menu__item::after {
    content: "";
    display: flex;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
}

.menu__item:hover::after {
    width: 100%;
    background: var(--cor-terciaria);
}

.button__menu {
    width: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 15px;
    top: 0px;
}

.menu__list--mobile {
    display: none;
}


@media (max-width: 640px) {
    .menu__list {
        display: none;
    }

    .cabecalho {
        padding: 0%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .menu__list--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 32px 0;
        background-color: #542344cc;
        list-style-type: none;
    }  

    .menu__list--mobile a {
        text-decoration: none;
        color: var(--cor-terciaria);
    }

    .invisible {
        display: none;
    }

    .button__menu {
        display: initial;
    }
}
